html, body {
    background: #141c2f;
    color: aliceblue;
}

.second-card {
    background: #141c2f;
}

a:hover {
    transition: all .3s;
    text-decoration: underline;
}

.w-fit {
    width: fit-content;
}
