@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro:ital,wght@0,400;0,700;1,400;1,700&display=swap');

html, body {
    background: #141c2f;
    color: aliceblue;
}

::selection {
    background: #0379fd;
    color: aliceblue;
}

.second-card {
    background: #141c2f;
}

.search-icon {
    fill: #0379fd;
}

.w-fit {
    width: fit-content;
}
